# Bootstrap
app/bootstrap*

# Symfony directories
vendor/*
*/logs/*
*/cache/*
web/uploads/*
web/uploads/user/*
web/uploads/purchaseOrder/*
web/uploads/purchaseRequisition/*
web/uploads/receive/*
web/uploads/vendor/*
web/uploads/file/*
web/uploads/company/*
web/bundles/*
web/uploads/DeliveryDocuments/*
web/uploads/PettyCashDocuments/*
web/css/*
web/img/*
web/js/*
web/assets
web/fonts/*

bin/*

# Configuration files
app/config/parameters.ini
app/config/parameters.yml

# Composer
composer.phar

# IDE
.idea/*
.nbproject/*

# OS
.DS_Store
Thumbs.db

web/.htaccess