<div style="width: 600px;">
    <div style="float:left;margin-top: -6px;margin-right:5px;margin-left: 25px; font-size: 27px; color: royalblue;">{{ title | default('Title') }}</div>
    <div style="margin-top: 0;font-size: 15px; color: white;">{{ details | default() }}</div>
</div>