<td>
    {{ form_widget(form.purchaseRequisitionItem, { 'attr': {'class': 'form-control order-items', 'style': 'margin-left: 20px;width: 200px;padding-left: 10px! important;'} }) }}
</td>
<td>
    {{ form_widget(form.quantity, { 'attr': {'class': 'form-control', 'style': 'width: 120px;padding-left: 10px! important;'} }) }}
</td>
<td>
</td>
<td>
</td>